[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/caio-northfleet
[access "refs/for/refs/*"]
	read = group user/caio-northfleet
	push = group user/caio-northfleet
	label-Code-Review = -2..+2 group user/caio-northfleet
	label-Verified = -1..+1 group user/caio-northfleet
	rebase = group user/caio-northfleet
	removeReviewer = group user/caio-northfleet
	submit = group user/caio-northfleet
[access "refs/heads/*"]
	read = group user/caio-northfleet
	create = group user/caio-northfleet
	push = +force group user/caio-northfleet
	pushMerge = group user/caio-northfleet
[access "refs/tags/*"]
	push = +force group user/caio-northfleet
	pushTag = group user/caio-northfleet
	pushSignedTag = group user/caio-northfleet
[project]
	state = hidden
